.activity-container {
    width: 835px;
    height: 320px;
    background-color: #FBFBFB;
    border-radius: 5px;
    padding: 10px;
}

.custom-tooltip {
    line-height: 20px;
    background-color: red;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    width: 39px;
    height: 63px;
}