.average-container {
    margin-top: 480px; // Temporaire
    display: flex;
    justify-content: center;
    align-items: center;
    float: left; // Temporaire
    margin-left: 5rem; // Temporaire
}