.profile {
    position: absolute;
    width: 1126px;
    height: 779px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    gap: 20px;
    margin-left: 15rem;
    margin-top: 8rem;

    grid-template-areas:
        "user user"
        "activity sidebar"
        "details sidebar";
}

.user {
    grid-area: user;
}

.activity {
    grid-area: activity;
}

.details {
    grid-area: details;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.sidebar-user {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (min-width: 1024px) and (max-width: 1400px) {
    
    .profile {
        position: absolute;
        width: 855px;
        height: 779px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 1fr 1fr;
        gap: 20px;
        margin-left: 9rem;
        margin-top: 4rem;
    
        grid-template-areas:
            "user "
            "sidebar"
            "activity"
            "details";
    }
    
    .user {
        grid-area: user;
        width: 100%;
    }
    
    .activity {
        grid-area: activity;
    }
    
    .details {
        grid-area: details;
    }
    
    .sidebar-user {
        grid-area: sidebar;
    }

}

.error-message {
    margin: auto;
    width: 30rem;
    height: 10rem;
    color: #FF0101;
    font-weight: bold;
    text-align: center;
    margin-top: 30rem;
    padding: 10px;
    border: 1px solid #FF0101;
    background-color: #ffe6e6;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}