.profile {
    position: absolute;
    width: 1126px;
    height: 779px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    gap: 20px;
    margin-left: 15rem;
    margin-top: 8rem;

    grid-template-areas:
        "user user"
        "activity sidebar"
        "details sidebar";
}

.user {
    grid-area: user;
}

.activity {
    grid-area: activity;
}

.details {
    grid-area: details;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.sidebar-user {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 20px;
}