.profile {
    display: flex;
    gap: 20px;
    padding: 10rem;
}

.profile-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.activity {
    flex: 2;
}

.details {
    display: flex;
    gap: 20px;
}

.profile-sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}